.falling-coins {
    position: relative;
    width: 100%;

    .animation-container {
        position: absolute;
        width: 100%;
        height: 100vh;

        .coin1, .coin2, .coin3, .coin4, .coin5 {
            position: absolute;
            top: -305;
        }

        .coin1 {
            animation: linear 4s coin1 0.5s infinite;
        }
        .coin2 {
            animation: linear 4s coin2 2.5s infinite;
            left: 20%;
        }
        .coin3 {
            animation: linear 4s coin3 6.5s infinite;
            left: 40%;
        }
        .coin4 {
            animation: linear 4s coin4 3.5s infinite;
            left: 60%;
        }
        .coin5 {
            animation: linear 4s coin5 10.5s infinite;
            left: 80%;
        }
    }

}

@keyframes coin1 {
    0% {
       top: -30%;
    }

    50% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes coin2 {
    0% {
       top: -90%;
    }   

    50% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes coin3 {
    0% {
       top: -50%;
    }  
    
    50% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes coin4 {
    0% {
       top: -80%;
    }   

    50% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes coin5 {
    0% {
       top: -70%;
    }   
    
    50% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes fallingCoin1 {
    
}

 //animation: linear 0.7s coin 0.5s forwards;