.individual-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;

    .title {
        margin: 0 0 20px;
        display: block;
        width: 70%;

        h5 {
            text-align: center;
            font-size: 24px;
            margin: 0;
            padding: 0 0 3px;
            color: #0568AE;
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: #0568ae;
                bottom: 0px;
                left: 0;
            }
        }
    }

    .rank-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border: 1px solid #DCDFE3;
        width: 100%;
        padding: 40px 0 0;
        border-radius: 5px;;
        filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.1));
        overflow: hidden;

        .current-ranking {
            background: #0568AE;
            border-radius: 150px;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 5px 0 0;
    
            p {
                margin: 0;
                padding: 0;
            }
    
            .rank {
                p {
                    font-size: 60px;
                    line-height: 0.7;
                }
            }
    
            .out-of {
                p {
                    line-height: 1;
                    font-size: 18px;
                }
            }
        }
    
        .your-coins {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 20px;
    
            .coin {
                width: 65px;
                height: 66px;
                
                svg {
                    width: 65px;
                    height: 65px;
                }
            }
    
            .coin-amount {
                p {
                    line-height: 1;
                    font-size: 18px;
                }
            }
        }

        .play-link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #C70032;
            width: 100%;
            padding: 15px 0;

            a {
                text-decoration: none;
                font-size: 18px;
                color: #fff;
            }
        }
    }
}