.leaderboard-ranks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
    border: 1px solid #DCDFE3;
    border-radius: 5px;;
    filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.1));
    overflow: hidden;

    .ranking-bar {
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,121,177,1) 0%, rgba(0,201,255,1) 100%);
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0 5px 0 7px;

        p {
            color: #fff;
            font-size: 32px;
            padding: 0;
            line-height: 1;

            sup {
                font-size: 16px;
                bottom: 0.8em;
            }
        }
    }

    .rank-items {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;

        .rank-item {
            border-bottom: 1px solid #DCDFE3;
            padding: 10px 15px;

            .profile {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .image {
                    max-width: 75px;
                    max-height: 75px;
                    border-radius: 75px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .information {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    justify-content: center;
                    margin: 0 20px;

                    p {
                        margin: 0;
                        padding: 0;

                        &:first-child {
                            font-size: 22px;
                        }

                        &:last-child {
                            font-size: 14px;
                        }
                    }
                }

                .coin-count {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin-left: auto;
                    position: relative;
                    padding: 0 0 0 20px;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 70%;
                        width: 2px;
                        background: #009FDB;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .coin {
                        height: 50px;
                        width: 50px;

                        svg {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}