.hcd-button-container {
    display: flex;
    justify-content: center;
    align-content: center;

    a:hover {
        background-color: #009fdb;
    }

    .hcd-button-primary {
        color: #fff;
        line-height: 1;
        padding: 10px 20px 14px;
        display: block;
        width: 100%;
        background-color: #0057b8;

        &.loader {
            padding: 4px 20px 7px;
        }

        span.spinner-container {
            display: inline-block;
            font-family: ETmodules!important;
            font-size: 1rem;
            margin: 0 10px 0 0;
            top: 3px;
            position: relative;
            max-width: 25px;
            overflow: hidden;

            span.spinner {
                display: inline-block;
                position: relative;
                font-size: 1rem;
                color: #fff;

                .loading-spinner {
                    animation: loading-spinner 2.25s linear infinite;
                }

                .loading-spinner-outer {
                    animation:loading-spinner-outer 1.6875s ease-in-out infinite;
                }
            }
        }
    }
}

@keyframes loading-spinner{
   to{
      transform: rotate(360deg);
      transform-origin: center center
   }
}

@keyframes loading-spinner-outer{
   0%{
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0
   }
   50%{
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35px
   }
   to{
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124px
   }
}