.hcd-button-container {
    display: flex;
    justify-content: center;
    align-content: center;

    .hcd-button-primary {
        color: #fff;
        line-height: 1;
        padding: 10px 20px 14px;
        display: block;
        width: 100%;

        &.loader {
            padding: 6px 20px 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #dcdfe3;
            color: #686e74;
            border-radius: 5px;

            &:hover {
                cursor: not-allowed;
                background: #dcdfe3;
            }

            .button-text {
                position: relative;
                top: 3px;
                margin: 0 0 0 15px;
            }
        }

        .spinner-container {
            display: inline-block;
            font-family: ETmodules!important;
            font-size: 1rem;
            top: 3px;
            position: relative;
            overflow: hidden;

            .spinner {
                display: inline-block;
                position: relative;
                font-size: 1rem;
                color: #fff;

                .loading-spinner {
                    animation: loading-spinner 2.25s linear infinite;
                    height: 28px;
                    width: 28px;
                }

                .loading-spinner-outer {
                    animation:loading-spinner-outer 1.6875s ease-in-out infinite;
                }
            }
        }
    }
}

@keyframes loading-spinner{
   to{
      transform: rotate(360deg);
      transform-origin: center center
   }
}

@keyframes loading-spinner-outer{
   0%{
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0
   }
   50%{
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35px
   }
   to{
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124px
   }
}