$att-blue: #009fd8;
$att-blue-dark: #0568ae;
$att-grey-dark: #5a5a5a;
$at-white: #fff;

.et_pb_module.et_pb_code.et_pb_code_0.et_pb_text_align_center {
    border: 1px solid #E6E6E6;
    border-radius: 0;
}

.hcd-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 10px 20px;

    aside {
        font-size: 12px;
        line-height: 1;
    }

    h3 {
        color: $att-blue-dark;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .left {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .icon {
                width: 47px;
                background: blue;

                svg {
                    width: 47px;
                    height: 52px;;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 0 0 0 10px;

                h3 { 
                    font-size: 18px;
                    padding: 8px 0 4px;
                    line-height: 1;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 30px;

            .icon {
                height: 24px;

                svg {
                    width: 25px;
                    height: 25px;;
                }
            }
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;

        .section {
            ul {
                padding: 0 0 0 15px;
                
                li {
                    text-align: left;
                    line-height: 1;
                    padding: 3px 0;
                }
            }

            .data {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                p:first-child {
                    margin: 0 10px 0 0;
                    padding: 0 0 5px;
                }
            }

            &:first-child {
                padding: 0 20px 0 0;
            }
        }
    }
}
